{% extends "adhome.html" %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid px-4">
      <h2 class="mt-4" align="center"><b>Reported complaints</b></h2>
      <hr>
    </div>
</main>
<div  class="table">
  <table width="83%" border="1px">
      <thead>
          <tr align="center">
          <th>Sl:No</th>
          <th>Name</th>
          <th>Address</th>
          <th>Phone No</th>
          <th>Category</th>
          <th>District</th>
          <th>Location</th>
          <th>Complaint description</th>
          <th>Action</th>
          </tr>
      </thead>
      {% for d in dataco %}
      <tbody>
          <tr align="center">
              <td>{{forloop.counter}}</td>
              <td>{{d.name}}</td>
              <td>{{d.spot}}</td>
              <td>{{d.phoneno}}</td>
              <td>{{d.category.category}}</td>
              <td>{{d.district.district}}</td>
              <td>{{d.location.location}}</td>
              <td>{{d.complaint}}</td>
              <td>
                <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#request-{{d.policeid}}">Forward</a>
              </td>
              <div class="modal fade" id="request-{{d.policeid}}" role="dialog">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="background-color: #ffff">
                    <div class="modal-header">
                      <h4 class="modal-title custom_align" id="Heading">Forward to police</h4>
                    </div>
                    <div class="modal-body" style="background-color: #ffff">
                      <form class="form-horizontal" method="post" name="myForm" action="{% url 'forward' %}">
                        {% csrf_token %}
      
                        <div class="box-content">
                          <div class="col-md-12">
                            <h3 class="modal-title custom_align" id="Heading" style="color: #333">Forward this complaint to police ?</h3>
                          </div>
                          <br>
                          <button name="edit" type="submit" class="btn btn-success"><span class="glyphicon 
                              glyphicon-ok-sign"></span>Submit</button>
                          <button type="reset" class="btn btn-default pull-right" data-bs-dismiss="modal"><span
                              class="glyphicon glyphicon-remove"></span>No</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
          </tr>
      </tbody>
      {% endfor %}
  </table>
  </div>
{% endblock %}