<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/extra.css' %}" rel="stylesheet" />
        <script src="{% static 'js/change.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <style>
          .reg{
          font-family: Arial, Helvetica, sans-serif;
          margin-left: 250px;
         }
         * {
        box-sizing: border-box;
         }
         .container {
        padding: 0px;
        background-color: white;
         }
         input[type=text], input[type=password], input[type=number], input[type=date]{
        width: 25%;
        padding: 10px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }
      
      input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus{
        background-color: #ddd;
        outline: none;
      }
      
      /* Overwrite default styles of hr */
      /* hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 15px;
      } */
      
      /* Set a style for the submit button */
      .registerbtn {
        background-color: #7678ec;
        color: white;
        padding: 12px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 97%;
        opacity: 0.9;
      }
      .registerbtn:hover {
        opacity: 1;
      }
      #district {
          margin-left: 17px;
      }
      
      /* Add a blue text color to links */
      a {
        color: dodgerblue;
      }
      b{
          font-size: 25px;
      }
      
      /* Set a grey background color and center the text of the "sign in" section */
      .signin {
        background-color: #f1f1f1;
        text-align: center;
      }
      #pol{
          margin-left: 80px;
      }
      select{
          width: 25%;
        padding: 10px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #bbbaba;
        background-color: rgb(184, 182, 182);
        outline: none;
      }
      
      
      </style>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3">Admin Panel</a>
            <!-- Sidebar Toggle-->
            
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                
                
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'adchange' %}">change password</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                           <div class="sb-sidenav-menu-heading">Main</div>
                            <a class="nav-link" href="{% url 'adm' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Adminhome
                            </a>
                            <div class="sb-sidenav-menu-heading">User Management</div>
                            <a class="nav-link" href="{% url 'complaints' %}">
                                <div class="sb-nav-link-icon"><i class="fas feature-icon"></i></div>Complaints
                            </a>
                            <a class="nav-link" href="{% url 'feedback' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>User feedback
                            </a>
                            <a class="nav-link" href="{% url 'userlist' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>User list
                            </a>
                            <div class="sb-sidenav-menu-heading">Police management</div>
                            <a class="nav-link" href="{% url 'polreg' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>Registration
                            </a>
                            <a class="nav-link" href="{% url 'polrep' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-inbox"></i></div>Police reports
                            </a>
                            <a class="nav-link" href="">
                                <div class="sb-nav-link-icon"><i class="fas fa-inbox"></i></div>Police complaints
                            </a>
                            <a class="nav-link" href="{% url 'pollist' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-list-alt"></i></div>Police list
                            </a><br>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div><b>Activity</b>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'dis' %}">Add district</a>
                                    <a class="nav-link" href="{% url 'loc' %}">Add location</a>
                                    <a class="nav-link" href="{% url 'crimecat' %}">Add crime category</a>
                                </nav>
                            </div>
                            <a class="nav-link" href="{% url 'dislist' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>District-list
                            </a>
                            <a class="nav-link" href="{% url 'loclist' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>Location-list
                            </a>
                            <a class="nav-link" href="{% url 'catlist' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>Crime category-list
                            </a>
                            <a class="nav-link" href="">
                                <div class="sb-nav-link-icon"><i class=""></i></div>
                            </a>
                            <a class="nav-link" href="">
                                <div class="sb-nav-link-icon"><i class=""></i></div>
                            </a>
                            <a class="nav-link" href="">
                                <div class="sb-nav-link-icon"><i class=""></i></div>
                            </a>
                            <a class="nav-link" href="">
                                <div class="sb-nav-link-icon"><i class=""></i></div>
                            </a>
                            
                        </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
<main>
    <div class="container-fluid px-4 " id="pol">
        <h2 class="mt-4" align="center"><strong>Police Registration</strong></h2>
        <p align="center"><strong>Please fill in this form to create a new police account</strong></p>
        <hr>
    </div>
</main>
<div class="reg">
<form class="form" method="post" enctype="multipart/form-data" action="{% url 'polreg' %}">
    {% csrf_token %}
    <div class="container">
        &emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
      <label for="email"><b>Name:</b></label>&emsp;
      <input type="text" placeholder="Enter Name" name="name" id="email" required>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

      <label for="psw">&emsp;<b>Phone no:</b></label>&emsp;
      <input type="number" placeholder="Enter Phone number" name="mobileno" id="phoneno" required>
      
      <label for="psw-repeat">&emsp;&nbsp;&nbsp;<b>Aadhar no:</b></label>&emsp;
      <input type="number" placeholder="Enter Aadhar number" name="aadharno" id="aadharno" required>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;

      <label for="psw">&emsp;&emsp;&emsp;&nbsp;&nbsp;<b>Address:</b>&emsp;</label>
      <input type="text" placeholder="Enter Address" name="address" id="address" required>    
      
      <label for="psw-repeat"><b>Qualification:</b></label>&emsp;
      <input type="text" placeholder="Enter Qualification" name="qualification" id="qual" required>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;

      <label for="psw"><b>Rewards:</b></label>&emsp;
      <input type="text" placeholder="Enter Rewards" name="rewards" id="psw" required>

      <label for="psw-repeat">&nbsp;&nbsp;&nbsp;<b>Department:</b></label>&emsp;
      <input type="text" placeholder="Enter Department" name="dep" id="dep" required>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <label for="psw"><b>Designation:</b>&emsp;</label>
      <select name="designation" id="des" required>
        <option>---select---</option>
        <option>District head</option>
      </select>

      <label>&emsp;&emsp;&emsp;&emsp;<b>District:</b></label>
      <select name="district" id="district" onchange="shi(this.value)" required>
          <option>---select---</option>
          {% for d in datadist %}
          <option value="{{d.districtid}}">{{d.district}}</option>
          {% endfor %}
      </select>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;

      <label><b>Location:</b>&emsp;</label>
     <select name="location" id="location" required>
         <option value="">---select---</option>
         </select>

     <label for="psw-repeat">&emsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Password:</b></label>&emsp;
      <input type="password" placeholder="Enter password" name="password" id="psw" required>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <label for="psw">&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<b>D.O.B:</b>&emsp;</label>
      <input type="date" placeholder="" name="date" id="date" required>

      <label for="psw">&emsp;&emsp;&emsp;&emsp;<b>Gender:</b>&emsp;</label>&nbsp;
      <input type="radio" name="gender" value="male" required>
      <label >Male</label>&emsp;
      <input type="radio" name="gender" value="female" required>
      <label>Female</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;

      <label><b> Profile photo:</b></label>&emsp;
      <input type="file" name="photo" accept="image/png, image/jpeg" required>
      
  
      <button type="submit" class="registerbtn" style="color: black;">Register</button>
    </div>
    
  </form>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</script>
<script type="text/javascript">
  function shi(x)
   {

         var xhttp = new XMLHttpRequest();
         xhttp.onreadystatechange = function () {

      if (this.readyState == 4 && this.status == 200) {

    document.getElementById('location').innerHTML = this.responseText;
}
};


xhttp.open("GET", "getloc/?location="+x, true);

xhttp.send();

}
</script>
</body>
</html>