{% extends "adhome.html" %}
{% load static %}
{% block content %}
<style>
    h4{
        margin-left: 295px;
    }
</style>
<main>
    <div class="container-fluid px-4">
        <h2 class="mt-4" align="center"><b>User List</b></h2>
        <hr>
    </div>
</main>
<div  class="table">
<table width="83%" border="1px">
    <thead>
        <tr align="center">
        <th>Sl:No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Aadhar No</th>
        <th>Phone No</th>
        <th>Email Id</th>
        <th>District</th>
        <th>location</th>
        <th>Action</th>
        </tr>
    </thead>
    {% for d in datausr %}
    <tbody>
        <tr align="center">
            <td>{{forloop.counter}}</td>
            <td>{{d.name}}</td>
            <td>{{d.address}}</td>
            <td>{{d.aadharno}}</td>
            <td>{{d.phoneno}}</td>
            <td>{{d.email}}</td>
            <td>{{d.district.district}}</td>
            <td>{{d.location.location}}</td>
            <td>
                <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-{{d.userid}}">Delete</a>
            </td>
            <div class="modal" id="delete-{{d.userid}}" role="dialog">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="background-color: #ffff">
                    <div class="modal-header">
                      <h4 class="modal-title custom_align" id="Heading">Delete user</h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" method="post" name="myForm" action="{% url 'deluser' %}">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" value="{{d.userid}}" name="id">
      
                        <div class="box-content">
                          <div class="col-md-12">
                            <h3 class="modal-title custom_align" id="Heading" style="color: #333">Are you sure want to delete ?</h3>
                          </div>
                          <br>
                          <button name="edit" type="submit" class="btn btn-success"><span class="glyphicon 
                              glyphicon-ok-sign"></span>Submit</button>
                          <button type="reset" class="btn btn-default pull-right" data-bs-dismiss="modal"><span
                              class="glyphicon glyphicon-remove"></span>No</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
{% endblock %}